<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head::head}"></head>
<body>
<header th:replace="~{fragments/header::header}"></header>
<main class="container mt-5">
    <h2 class="text-center mb-4">Eliminar Animal</h2>
    <p class="text-center">¿Estás seguro de que deseas eliminar el siguiente animal?</p>
    <table class="table">
        <tr>
            <th>Nombre:</th>
            <td th:text="${animal.name}"></td>
        </tr>
        <tr>
            <th>Esperanza de Vida:</th>
            <td th:text="${animal.lifeSpan}"></td>
        </tr>
        <tr>
            <th>Extinto:</th>
            <td th:text="${animal.extinct} ? 'Sí' : 'No'"></td>
        </tr>
    </table>
    <div class="text-center">
        <form th:action="@{/animals/delete/{id}(id=${animal.id})}" method="post">
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a th:href="@{/animals/list}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</main>
</body>
</html>
